<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Extend\Catalog\Api\ProductsCollectionInterface"
                type="Extend\Catalog\Model\ProductsCollection"/>

    <preference for="Extend\Catalog\Api\Data\UrlBuilderInterface"
                type="Extend\Catalog\Model\UrlBuilder"/>

    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="addWarrantyCart" type="Extend\Catalog\Plugin\Controller\Cart\Add"/>
    </type>

    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="sendWarrantyExtend" type="Extend\Catalog\Plugin\Controller\Onepage\Success"/>
    </type>
</config>