<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Extend\Warranty\Block\System\Config\AccountLink" type="Extend\Warranty\Block\System\Config\Link">
        <arguments>
            <argument name="url" xsi:type="string">https://merchants.extend.com</argument>
            <argument name="label" xsi:type="string">Set up my Extend account</argument>
            <argument name="class" xsi:type="string">action action-extend-external</argument>
        </arguments>
    </virtualType>

    <virtualType name="Extend\Warranty\Block\System\Config\PortalLink" type="Extend\Warranty\Block\System\Config\Link">
        <arguments>
            <argument name="url" xsi:type="string">https://merchants.extend.com</argument>
            <argument name="label" xsi:type="string">Go to my Extend merchant dashboard</argument>
            <argument name="class" xsi:type="string">action action-extend-external</argument>
        </arguments>
    </virtualType>

</config>
