<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extend" translate="label">
            <label>Extend</label>
        </tab>
        <section id="warranty" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
            <tab>extend</tab>
            <label>Extend Protection Plans</label>
            <resource>Extend_Warranty::warranty</resource>

            <group id="extend_info" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                <frontend_model>Extend\Warranty\Block\System\Config\Intro</frontend_model>
            </group>
            <group id="account" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <comment>
                    You can get up and running with Extend in a few simple steps. Get started now by creating your
                    Extend account!
                </comment>

                <field id="accountbutton" translate="label" type="button" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Extend\Warranty\Block\System\Config\AccountLink</frontend_model>
                    <comment>
                        <![CDATA[
                            or <a href="https://merchants.extend.com" class="extend-account-link"> I already have an Extend account, I'm ready to edit my settings</a>
                        ]]>
                    </comment>
                </field>
                <field id="help" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <comment>
                        <![CDATA[
                            For more information or help, contact <a href="mailto:support@extend.com">support@extend.com</a>.
                        ]]>
                    </comment>
                </field>
            </group>

            <group id="authentication" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Authentication</label>
                <comment>
                    In order for the Extend extension to communicate with the Extend platform on your stores's
                    behalf (to sync products, create protection plan SKUs, display optimized plan offers in your store, and
                    record extended service contract sales), we need you to store a couple of unique identifiers here in your
                    configuration settings.
                </comment>
                <attribute type="expanded">0</attribute>
                <field id="auth_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mode</label>
                    <source_model>Extend\Warranty\Model\Config\Source\AuthMode</source_model>
                    <!--<comment>
                        Warning! Please note that while you are in sandbox mode, any protection plan purchases made in your store
                        will be considered test transactions. Extend will not create real service contracts for sandbox transactions.
                    </comment> -->
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <comment>
                        <![CDATA[
                            Unique identifier for your store on the Extend platform. Go to <a href="https://merchants.extend.com">your Extend merchant dashboard</a>
                            to find your StoreID and then paste of type it here.
                        ]]>
                    </comment>
                </field>
                <field id="api_key" translate="label" type="password" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <comment>
                        <![CDATA[
                            Access token which is required for all API communications between your Magento store and
                            the Extend platform. You can view and manage your API Key on <a href="https://merchants.extend.com">your Extend merchant dashboard</a>.
                        ]]>
                    </comment>
                </field>
                <field id="sandbox_store_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SandBox Store ID</label>
                    <comment>
                        <![CDATA[
                                Unique identifier for your store on the Extend platform. Go to <a href="https://demo.merchants.extend.com">your Extend merchant dashboard</a>
                                to find your StoreID and then paste of type it here.
                            ]]>
                    </comment>
                </field>
                <field id="sandbox_api_key" translate="label" type="password" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SandBox API Key</label>
                    <comment>
                        <![CDATA[
                                Access token which is required for all API communications between your Magento store and
                                the Extend platform. You can view and manage your API Key on <a href="https://demo.merchants.extend.com">your Extend merchant dashboard</a>.
                            ]]>
                    </comment>
                </field>
            </group>

            <group id="products" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Sync Products</label>
                <comment>
                    It's important to keep your product catalog synced with Extend, so we can serve accurate
                    extended protection plan offers in your store. Just click the "Sync Products" button and we'll send your
                    catalog to the Extend platform in batches. If you have a small number of SKUs this will take just
                    seconds, but if your catalog is very large it could take few minutes.
                </comment>
                <field id="batch_size" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Batch Size</label>
                    <source_model>Extend\Warranty\Model\Config\Source\BatchSize</source_model>
                    <comment>
                        Save the configuration and flush the cache before running the sync process.
                    </comment>
                </field>
                <field id="syncbutton" translate="label" type="button" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Extend\Warranty\Block\System\Config\Products\Button</frontend_model>
                </field>
            </group>

            <group id="enableExtend" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Extend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                                To enable or disable protection plan offers on specific products,
                                please go to <a href="https://merchants.extend.com">your Extend merchant dashboard</a>.
                            ]]>
                    </comment>
                </field>
                <field id="enableBalance" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Balanced Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enableCartOffers" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display Cart Offers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enableRefunds" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Refunds</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="advance_config" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Advanced Configuration</label>
                <comment>
                    There are a number of other configurations you can control through your Extend merchant dashboard,
                    including: enabling / disabling Extend offers (for your whole store or for individual products),
                    customizing your offer branding, viewing the status of protection plan matching for
                    your products, and more!
                </comment>
                <field id="portalbutton" translate="label" type="button" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Extend\Warranty\Block\System\Config\PortalLink</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
