<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <warranty>
            <products>
                <batch_size>100</batch_size>
            </products>
        </warranty>
    </default>
</config>