<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product"
                type="Extend\Warranty\Block\Adminhtml\Product" />

    <preference for="Extend\Warranty\Api\SyncInterface"
                type="Extend\Warranty\Model\Product\Sync"/>

    <preference for="Extend\Warranty\Api\TimeUpdaterInterface"
                type="Extend\Warranty\Model\Api\TimeUpdater"/>

    <preference for="Extend\Warranty\Api\Data\UrlBuilderInterface"
                type="Extend\Warranty\Model\Api\UrlBuilder"/>

    <preference for="Extend\Warranty\Api\ConnectorInterface"
                type="Extend\Warranty\Model\Api\Connector"/>

    <type name="Magento\Catalog\Controller\Adminhtml\Product\NewAction">
        <plugin name="warrantyInterceptor" type="Extend\Warranty\Plugin\WarrantyAction" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Type">
        <plugin name="warrantyTypeOptionInterceptor" type="Extend\Warranty\Plugin\WarrantyTypeOption" sortOrder="1"/>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="admin_system_config_save_plugin" type="Extend\Warranty\Plugin\ValidateCredentialPlugin" sortOrder="1"/>
    </type>
    <type name="Extend\Catalog\Controller\Adminhtml\Products\Sync">
        <plugin name="syncInterceptor" type="Extend\Warranty\Plugin\SyncAction" sortOrder="1"/>
    </type>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="addSkuToJsonConfig" type="Extend\Warranty\Plugin\Block\Product\View\Type\Configurable"/>
    </type>

    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="warranty_product" type="Extend\Warranty\Plugin\Helper\Product\Configuration"/>
    </type>

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="isWarrantyFlag" type="Extend\Warranty\Plugin\CustomerData\AbstractItem"/>
    </type>

    <virtualType
            name="Extend\Warranty\Model\ResourceModel\Indexer\Price"
            type="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice"/>

</config>